body {
  font-family: Arial, sans-serif;
  width: auto;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


.sidebar {
  width: auto;
  padding: 20px;
  box-sizing: border-box;
}

.filter-card {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px #a1a1a1;
  border: 2px solid #bfbfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #333;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
  height: 200px;
  overflow-y: auto;
}

.checkbox-option {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.checkbox-option input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.checkbox-option label {
  margin: 0;
  color: #555;
}

.input-field {
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #65AEF2;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
}

.select-field {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #65AEF2; /* Border color for select field */
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  outline: none;
}


.select-field::placeholder {
  color: #999;
}
.select-field:after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.filter-section input[type="checkbox"],
.filter-section label {
  vertical-align: middle;
}
