<div *ngIf= "images && images.length > 0" class="carousel-container">
  <img *ngFor= "let image of images; let i = index"

      [src]="'data:image/' + image.imageSrc + ';base64,' + image.imageAlt" alt="ACCOMMODATION"
    [ngClass]="{'image-active':selectedIndex === i}"
       class="fade"
  >

  <div *ngIf="indicators" class="carousel-dot-container">
     <span *ngFor="let dot of images; let i = index"
           class="dot"
           [ngClass]="{'active':selectedIndex === i}"
           (click)="selectImage(i)"
           >
     </span>
  </div>

  <button *ngIf="controls" class="btn-carousel btn-prev">
    <img src="/assets/prevpic.png" class="icon-carousel icon-prev"
       (click)="onPrevClick()" alt="Prev"/>
  </button>

  <button *ngIf="controls" class="btn-carousel btn-next">
    <img src="/assets/nextpic.png" class="icon-carousel icon-next"
         (click)="onNextClick()" alt="Next"/>

  </button>
</div>
