<div class="container">
  <h2 class="titles">Your Review</h2>

  <div class="profile-container">
    <div class="user-info-container">
      <img [src]="'data:image/' + user.avatarImageType + ';base64,' + user.avatarBytes" alt="avatar">
      <div class="info labels">
        <h3>Email:</h3>
        <h3>First name:</h3>
        <h3>Last name:</h3>
        <h3>Address:</h3>
        <h3>Phone number:</h3>
      </div>
      <div class="info">
        <h3>{{user.email}}</h3>
        <h3>{{user.firstName}}</h3>
        <h3>{{user.lastName}}</h3>
        <h3>{{user.address}}</h3>
        <h3>{{user.phone}}</h3>
      </div>
      <button class="delete-comment"><mat-icon>close</mat-icon>Report The Owner</button>
    </div>

    <br>
    <div class="comments-background">
      <div class="comments-section">
        <h2>Comments</h2>

        <div class="comments-container">
          <div class="comments-grid">
            <div *ngFor="let comment of displayedComments; let i = index" class="comment">
              <div class="user-info">
                <img [src]="comment.image" alt="User Image">
                <div class="user-details">
                  <p class="username">{{ comment.name }}</p>
                  <p class="sent-at">{{ comment.sentAt | date }}</p>
                </div>
              </div>
              <div class="comment-text">
                <p>{{ comment.commentText }}</p>
              </div>
            </div>
          </div>

          <button *ngIf="comments.length > displayedComments.length" (click)="loadMoreComments()" class="more-btn">MORE COMMENTS</button>
        </div>
      </div>
    </div>

  <br>
  <div class="ratings-container">
    <div class="average-rating">{{averageRating}}</div>

    <div class="rating-form">
      <h3 class="average">Average rating: 5.0</h3>
      <br>
      <div class="your-rate">Give your rate</div>
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>

      <textarea [(ngModel)]="userComment" name="userComment" placeholder="Leave a comment..."></textarea>

      <button (click)="submitRating()">SUBMIT</button>
    </div>
  </div>
</div>
</div>
