.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
}

mat-radio-group {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.radio-container:hover {
    cursor: pointer;
    opacity: 0.8;
}

.radio-container mat-radio-button span {
    font-size: 1.2rem;
}

mat-icon {
    font-size: 1.6rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card {
    background-color: var(--color_white);
    border-radius: 2rem;
    box-shadow: 0 0 2rem 0 var(--color_gray_icon);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
    transition: all 0.8s;
  }

  .card-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    height: 14rem;
  }
  
  .divider {
    width: 2px;
    height: auto;
    background-color: #E4E4E7;
  }
  
  .guest-side {
    width: 20rem;
  }
  
  .guest-side .span-div {
    height: 100%;
    overflow: auto;
    text-align: justify;
  }
  
  .guest-data img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid var(--color_black_text);
    object-fit: cover;
    object-position: center;
  }
  
  .guest-side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .guest-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .date {
    font-size: 0.7rem;
    color: var(--color_gray_text);
  }
  
  .guest {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  
  .username {
    font-size: 1rem;
    font-weight: 500;
    width: auto;
    overflow-x: auto;
  }

  .owner-side {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

.owner-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.owner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.owner-data img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid var(--color_black_text);
    object-fit: cover;
    object-position: center;
}

.owner-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stars mat-icon {
    font-size: 1.4rem;
    color: var(--color_primary_blue)
}

.owner-side h4 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color_gray_text);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.buttons button {
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem;
    color: var(--color_white);
}

.buttons button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.bin {
    background-color: var(--color_red);
    font-size: 1.6rem;
}

.accept {
    background-color: var(--color_green);
    font-size: 1.6rem;
}

.fade-out {
    opacity: 0;
    transition: all 0.6s;
}

.accommodation-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.guests-accommodation-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guests-accommodation-rating .stars {
    gap: 0.5rem;
}

.guests-accommodation-rating mat-icon {
    width: auto;
    height: auto;
    font-size: 1.8rem;
}

.card-content-accommodation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  height: auto;
}

.accommodation-type-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
}

.accommodation-type {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color_gray_text);
    letter-spacing: 0.05rem;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.sub-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.info img {
  height: 8.455rem;
  aspect-ratio: 16/9;
  border-radius: 2rem;
  object-fit: cover;
  border: 1px solid var(--color_black_text);
}

.name {
  width: 15rem;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  height: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.view-details button{
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  background-color: var(--color_primary_blue);
  text-align: center;
  font-size: 1rem;
  width: 100%;
  height: 2.5rem;
}

.view-details button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.accommodation-btns {
    margin-top: 0.5rem;
  gap: 1.5rem;
}

.accommodation-btns button {
  height: 2.5rem;
}

.card-content-accommodation .span-div {
  max-height: 10rem;
}

.horizontal-divider {
  width: 100%;
  height: 2px;
  background-color: #E4E4E7;
}

#reason-header {
    margin-bottom: 0.2rem;
}

#reason {
    font-size: 1rem;
    color: var(--color_gray_text);
    letter-spacing: 0.05rem;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 10rem;
    display: block;
    width: 100%;
    text-align: justify;
}