<!-- app.component.html -->

<div class="container">
  <br>
  <h1>Create Accommodation</h1>
  <form (ngSubmit)="createAccommodation()" #accommodationForm="ngForm">
  <label for="name">Name:</label>
    <input type="text" id="name" required [(ngModel)]="accommodation.name">

    <label for="description">Description:</label>
    <textarea id="description" required [(ngModel)]="accommodation.description"></textarea>

    <label for="type">Type:</label>
    <select id="type" [(ngModel)]="accommodation.type">
      <option value="Apartment">Apartment</option>
      <option value="Hotel">Hotel</option>
      <option value="Hostel">Hostel</option>
      <option value="Private Room">Private Room</option>
      <option value="Guesthouse">Guesthouse</option>
      <option value="Resort">Resort</option>
    </select>

    <div class="guests-container">
      <label for="minGuests">Min Guests:</label>
      <input type="number" id="minGuests" min="1" [(ngModel)]="accommodation.minGuests">

      <label for="maxGuests">Max Guests:</label>
      <input type="number" id="maxGuests" min="1" [(ngModel)]="accommodation.maxGuests">
    </div>

    <fieldset>
      <legend>Amenities:</legend>
      <label><input type="checkbox" value="Air Condition" [(ngModel)]="accommodation.amenities.airCondition"> Air Condition</label> <br>
      <label><input type="checkbox" value="Spa" [(ngModel)]="accommodation.amenities.spa"> Spa</label> <br>
      <label><input type="checkbox" value="Beach front" [(ngModel)]="accommodation.amenities.beachFront"> Beach front</label> <br>
      <label><input type="checkbox" value="Hot tub/jacuzzi" [(ngModel)]="accommodation.amenities.hotTub"> Hot tub/jacuzzi</label>
    </fieldset>

    <div class="location-container">
      <div class="location-header">
        <span class="location-sign">📍</span>
        <h2 class="location-caption">Location</h2>
      </div>

      <div class="map-frame">
        <div id="mapContainer" style="height: 400px;"></div>
      </div>
      <br>
      <div class="input-button-container">
        <input type="text" id="address" placeholder="Enter location" name="location" [(ngModel)]="accommodation.location.address">
        <button mat-icon-button class="fav-btn" (click)="locateOnMap()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <br>
    </div>

    <div class="availability-container">
      <h2>Availability And Prices</h2>

      <fieldset>
        <legend>Define Price</legend>
        <label><input type="radio" name="priceType" value="PerNight" [(ngModel)]="accommodation.priceType"> Per Night</label> <br>
        <label><input type="radio" name="priceType" value="PerGuest" [(ngModel)]="accommodation.priceType"> Per Guest</label>
      </fieldset>

      <label for="price">Price:</label>
      <input type="number" id="price" required [(ngModel)]="accommodation.price">
      <br>
      <br>

      <label>Availability:</label>
      <div class="availability-dates">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" required [(ngModel)]="accommodation.availability.startDate">

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" required [(ngModel)]="accommodation.availability.endDate">
      </div>

      <div class="special-price-container">
        <label>Special Prices:</label>
        <div class="special-price-dates">
          <label>From:</label>
          <input type="date" id="specialPriceStartDate" name="specialPriceStartDate" required [(ngModel)]="accommodation.specialPrice.startDate">
          <label>To:</label>
          <input type="date" id="specialPriceEndDate" name="specialPriceEndDate" required [(ngModel)]="accommodation.specialPrice.endDate">
        </div>
        <label for="specialPriceAmount">Price:</label>
        <input type="number" id="specialPriceAmount" name="specialPriceAmount" required [(ngModel)]="accommodation.specialPrice.amount">
      </div>

      <label for="cancellationDeadline">Cancellation Deadline:</label>
      <input type="number" id="cancellationDeadline" required [(ngModel)]="accommodation.cancellationDeadline">

    </div>
    <br>
    <button type="submit">Create Accommodation</button>
  </form>
</div>
