<div class="container">
  <br>
  <h1>Create Accommodation</h1>
  <form>
    <label for="images">Images:</label>
    <input type="file" id="images" multiple accept="image/*" (change)="handleImageUpload($event)">
    <div *ngIf="selectedImages" class="image-container">
      <div *ngFor="let image of selectedImages" class="image-item">
        <img [src]="image.url" alt="Selected Image" class="image-preview">
      </div>
    </div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" required>

    <label for="description"  >Description:</label>
    <textarea id="description" name="description" [(ngModel)]="description"  required></textarea>

    <label for="type"  >Type:</label>
    <select id="type" name="type" [(ngModel)]="type">
      <option value="STUDIO">STUDIO</option>
      <option value="ROOM">"ROOM"</option>
      <option value="APARTMENT">APARTMENT</option>
      <option value="VILLA">VILLA</option>
      <option value="HOTEL">HOTEL</option>
    </select>

    <div class="guests-container">
      <label for="minNumberOfGuests">Min Guests:</label>
      <input type="number" id="minNumberOfGuests" min="1" [(ngModel)]="minNumberOfGuests" name="minNumberOfGuests">

      <label for="maxNumberOfGuests">Max Guests:</label>
      <input type="number" id="maxNumberOfGuests" min="1" [(ngModel)]="maxNumberOfGuests" name="maxNumberOfGuests">
    </div>

    <fieldset>
      <legend id="amenities">Amenities:</legend>
      <label><input type="checkbox" value="Amenity 1 Name"> Amenity 1 Name</label> <br>
      <label><input type="checkbox" value="Spa"> Spa</label> <br>
      <label><input type="checkbox" value="Beach front"> Beach front</label> <br>
      <label><input type="checkbox" value="Hot tub/jacuzzi"> Hot tub/jacuzzi</label>
    </fieldset>

    <div class="location-container">
      <div class="location-header">
        <span class="location-sign">📍</span>
        <h2 class="location-caption">Location</h2>
      </div>

      <div class="map-frame">
        <div id="mapContainer" style="height: 400px;"></div>
      </div>
      <br>
      <div class="input-button-container">
        <input type="text" id="enteredAddress" placeholder="Enter location" name="enteredAddress" [(ngModel)]="enteredAddress">
        <button mat-icon-button class="fav-btn" (click)="locateOnMap()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <br>
    </div>


    <!-- Availability And Prices -->
    <div class="availability-container">
      <h2>Availability And Prices</h2>

      <!-- Define Price -->
      <fieldset>
        <legend>Define Price</legend>
        <label><input type="radio" name="priceType" value="PerNight"> Per Night</label> <br>
        <label><input type="radio" name="priceType" value="PerGuest"> Per Guest</label>
      </fieldset>

      <br>
      <!-- Special Price -->
      <!-- Special Prices -->
      <div *ngFor="let specialPrice of specialPrices; let i = index" class="special-price-container">
        <label >Availability {{ i + 1 }}:</label>
        <div class="special-price-dates">
          <label>From:</label>
          <input type="date" [(ngModel)]="specialPrice.startDate" name="startDate{{i}}"  required format="yyyy-MM-dd">
          <label>To:</label>
          <input type="date" [(ngModel)]="specialPrice.endDate" name="endDate{{i}}" required format="yyyy-MM-dd" >
        </div>
        <label id="specialPriceAmount">Price:</label>
        <input type="number" [(ngModel)]="specialPrice.amount" name="amount{{i}}" required>

        <!-- Dodajte dugme za uklanjanje ovog seta polja -->
        <button type="button" (click)="removeSpecialPrice(i)">Remove</button>
      </div>

      <!-- Dodajte dugme za dodavanje novog seta polja -->
      <button type="button" (click)="addSpecialPrice()">Add Availability</button>

      <!-- Cancellation Deadline -->
      <label for="cancellationDeadline">Cancellation Deadline:</label>
      <input type="number" id="cancellationDeadline" name="cancellationDeadline" [(ngModel)]="cancellationDeadline" required>

    </div>
    <br>


    <button type="button" (click)="onSubmit()">Create Accommodation</button>
  </form>
</div>
