<div class="container">

    <h1>Accomodation requests</h1>

    <mat-radio-group [(ngModel)]="type">
        <mat-radio-button value="new">
            <div class="radio-container">
                <span>New accommodations</span>
                <mat-icon>fiber_new</mat-icon>
            </div>
        </mat-radio-button>
        <mat-radio-button value="updated">
            <div class="radio-container">
                <span>Updated accommodations</span>
                <mat-icon>autorenew</mat-icon>
            </div>
        </mat-radio-button>
    </mat-radio-group>
    
    <div class="card-container">
        <div *ngFor="let accommodation of accommodations" class="accommodation-card">
            <div class="owner-side">
                <div class="owner-data">
                    
                    <img [src]="'data:image/' + accommodation.ownerImageType + ';base64,' + accommodation.ownerProfilePictureBytes" alt="Owner profile picture">
    
                    <div class="owner">
                        <span>{{accommodation.ownerUsername}}</span>
                        <span>({{accommodation.dateRequested}})</span>
                    </div>

                </div>
                <div class="span-div">
                    <span>{{accommodation.message}}</span>
                </div>
            </div>

            <div class="divider"></div>

            <div class="accommodation-side">

                <div class="info">

                    <img [src]="'data:image/' + accommodation.imageType + ';base64,' + accommodation.mainPictureBytes" alt="Accommodation main picture">

                    <div class="sub-info">
                        <div class="a">
                            <div class="type-stars">
                                <span>{{accommodation.type}}</span>
                                <div class="stars">
                                    <mat-icon *ngFor="let star of [].constructor(accommodation.stars)">star</mat-icon>
                                </div>
                            </div>
                            <div class="posted-ago">
                                <span>{{accommodation.postedAgo}} mins ago</span>
                            </div>
                        </div>
                        <div class="b">
                            <div class="name">
                                <span>{{accommodation.name}}</span>
                            </div>
                            <mat-icon>{{accommodation.requestType}}</mat-icon>
                        </div>
                        <div class="view-details">
                            <button (click)="viewDetails(accommodation.id)">View details</button>
                        </div>
                    </div>

                </div>

                <div class="action-btns">
                    <button (click)="reject(accommodation.id)" class="reject">Reject</button>
                    <button (click)="approve(accommodation.id)" class="approve">Approve</button>
                </div>

            </div>
        </div>
    </div>

</div>