<h1>Update account details</h1>

<div class="form-container">

    <div class="input-row">
        <label for="fname">New email address</label>
        <input type="email" placeholder="Enter email address">
        <p>Current: {{ user.email }}</p>
    </div>
    
    <div class="input-row">
        <label for="fname">New password</label>
        <input [type]="passwordType" placeholder="Enter password" class="password">
        <mat-icon *ngIf="passwordVisibility" (click)="passwordVisibility=false;passwordType='text'">visibility</mat-icon>
        <mat-icon *ngIf="!passwordVisibility" (click)="passwordVisibility=true;passwordType='password'">visibility_off</mat-icon>
    </div>

    <div class="input-row"> 
        <label for="fname">Confirm password</label>
        <input [type]="passwordConfirmType" placeholder="Enter password" class="password">
        <mat-icon *ngIf="passwordConfirmVisibility" (click)="passwordConfirmVisibility=false;passwordConfirmType='text'">visibility</mat-icon>
        <mat-icon *ngIf="!passwordConfirmVisibility" (click)="passwordConfirmVisibility=true;passwordConfirmType='password'">visibility_off</mat-icon>
    </div>

    <div class="input-row">
        <label for="fname">New phone number</label>
        <input type="text" placeholder="Enter phone number">
        <p>Current: {{ user.phone }}</p>
    </div>

    <div class="input-row">
        <label for="fname">New address</label>
        <input type="text" placeholder="Enter address">
        <p>Current: {{ user.address }}</p>
    </div>

    <button (click)="updateDetails()">Update details</button>

</div>