<div class="container-login">
  <div class="welcome-container">
      <h1>Book Your Apartment</h1> <br>
      <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex <br> ea commodo consequat.</p>

      <div class="button-container">
          <ng-container>
              <button class="get-started-button"  routerLink="">Get Started</button>
          </ng-container>
      </div>

  </div>

  <form method="post" class="login-form" (ngSubmit)="loginUser()">
      <div class="imgcontainer">
          <b>Log In</b>
      </div>

      <div class="container">
          <label ><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="username" required>

        <div class="input-row">
          <label> <b>Password </b></label>
          <input [type]="passwordType" placeholder="Enter password" class="password">
          <mat-icon *ngIf="passwordVisibility" (click)="passwordVisibility=false;passwordType='text'">visibility</mat-icon>
          <mat-icon *ngIf="!passwordVisibility" (click)="passwordVisibility=true;passwordType='password'">visibility_off</mat-icon>
        </div>
        <span class="psw"><a href="#">Forgot password?</a></span>

          <button type="submit">Log in</button>
          <label>
              <input type="checkbox" checked="checked" name="remember"> Keep me signed in
          </label>
      </div>


      <p class="signin-text"> Don't have an account? <a routerLink="/register" id="register-link">Register</a></p>





  </form>

</div>
