.header_main {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.header_main img {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
}

.highlight-text {
  color: var(--color_primary_blue);
}

.header_main h1 {
  position: absolute;
  margin-top: -50px;
  text-align: left;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xxx-large;
  color: var(--color_white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header_main h2 {
  position: absolute;
  text-align: left;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  color: var(--color_white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.form-overlay {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(109, 181, 248, 0.5);
  padding: 30px;
  border-radius: 28px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 70%;
}

.form-overlay form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-overlay .form-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.form-overlay input,
.form-overlay select {
  padding: 10px;
  border: 1px solid var(--color_white);
  border-radius: 4px;
  font-size: 16px;
  flex: 1;
  width: calc(20% - 15px);
  color: #333;
}


.form-overlay input[type="submit"] {
  width: calc(100% - 15px);
  color: var(--color_white);
  background-color: var(--color_primary_blue);
  margin-top: 10px;
  border-radius: 4px;
  border-color: var(--color_white);
  padding: 12px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.form-overlay input[type="submit"]:hover {
  background-color: #4a8bd6;
}
