<div class="header_main">
  <img src="/assets/mainPagePicture.jpg" class="background-image"/>
  <h1>Find your perfect <span class="highlight-text">place</span> to stay!</h1>
  <h2>Let us help you plan your next journey.</h2>
  <div class="form-overlay">
    <form>
      <div class="form-types">
        <input type="text" id="checkInDate" name="checkInDate" placeholder="Check-in Date" onfocus="(this.type='date')" onblur="(this.type='text')" >
        <input type="text" id="checkOutDate" name="checkOutDate" placeholder="Check-out Date" onfocus="(this.type='date')" onblur="(this.type='text')" >
        <input type="text" id="town" name="town" placeholder="Town">
        <input type="number" id="numberOfGuests" name="numberOfGuests" placeholder="Number of Guests">
        <select id="accommodationType" name="accommodationType">
          <option value="" disabled selected hidden>Type</option>
          <option value="hotel">Hotel</option>
          <option value="apartment">Apartment</option>
          <option value="villa">Villa</option>
        </select>
      </div>
        <input type="submit" value="Search">
    </form>

  </div>
</div>
