<div class="reservation-container">
  <h2>Make a Reservation</h2>

  <!-- Date Selection -->
  <div class="date-selection">
    <label for="check-in">Check-in:</label>
    <input type="date" id="check-in" name="check-in" [(ngModel)]="defaultCheckInDate" [attr.min]="getTodayDate()" (change)="updateCheckOutMinDate()">

    <label for="check-out">Check-out:</label>
    <input type="date" id="check-out" name="check-out" [(ngModel)]="defaultCheckOutDate" [attr.min]="defaultCheckInDate" (change)="validateDates()">
  </div>

  <!-- Guest Selection -->
  <div class="guest-selection">
    <label for="guests">Guests:</label>
    <input type="number" #guestsInput id="guests" name="guests" [attr.min]="reservationRequirements.minGuests"
           [attr.max]="reservationRequirements.maxGuests" [value]="reservationRequirements.minGuests"
           (change)="onGuestsChange()" (keyup)="onGuestsChange()" (keydown)="onGuestsChange()" (input)="onGuestsChange()">
  </div>

  <!-- Reserve Button -->
  <button class="reserve-button" (click)="makeReservation()">Reserve</button>

  <!-- Price Details -->
  <div class="price-details">
    <p>Price per night: ${{reservationRequirements.pricePerNight}}</p>
    <p>Total price:  ${{ totalPrice }} </p>
  </div>
</div>
