<ng-container *ngIf="userRole === 'guest'">
<div class="reservation-container">
  <h2>Make a Reservation</h2>



  <!-- Date Selection -->
  <div class="date-selection">
    <label for="check-in">Check-in:</label>
    <input type="date" id="check-in" name="check-in" [(ngModel)]="defaultCheckInDate" [attr.min]="getTodayDate()"
           [ngModelOptions]="{standalone: true}" (change)="updateCheckOutMinDate()" [ngClass]="{'unavailable': !isDateAvailable(defaultCheckInDate)}">

    <label for="check-out">Check-out:</label>
    <input type="date" id="check-out" name="check-out" [(ngModel)]="defaultCheckOutDate" [attr.min]="defaultCheckInDate"
           [ngModelOptions]="{standalone: true}" (change)="validateDates()" [ngClass]="{'unavailable': !isDateAvailable(defaultCheckOutDate)}"> </div>

  <!-- Guest Selection -->
  <div class="guest-selection">
    <label for="guests">Guests:</label>
    <input type="number" #guestsInput id="guests" name="guests" [attr.min]="reservationRequirement.minGuests"
           [attr.max]="reservationRequirement.maxGuests" [value]="reservationRequirement.minGuests"
           (change)="onGuestsChange()" (keyup)="onGuestsChange()" (keydown)="onGuestsChange()" (input)="onGuestsChange()">
  </div>

  <!-- Reserve Button -->
  <button class="reserve-button" (click)="makeReservation()">Reserve</button>

  <!-- Price Details -->
  <div class="price-details">
    <p>Price per night: ${{availabilities[0].specialPrice}}</p>
    <p>Total price:  ${{ totalPrice }} </p>
  </div>
</div>
</ng-container>
