.location-container {
  width: 100%;
  border: 5px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.location-header {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.location-sign {
  font-size: 24px;
  margin-right: 10px;
}

.location-caption {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.map-section {
  padding: 15px;
}
.map-section img {
  width: auto;
  height: auto;
}
