h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color_black_text);
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.notif-type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-left: 4rem;
    background-color: var(--color_white);
    border: 1px solid var(--color_gray_text);
    box-shadow: 0 0 5px var(--color_gray_icon);
    border-radius: 2rem;
    width: 40rem;
    height: 15rem;
}

.notWantedNotificationsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notif-type-container h4 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color_black_text);

}

.notificationOptions input {
    margin-right: 1rem;
}

.notificationOptions input:hover {
    cursor: pointer;
    opacity: 0.8;
}

.notificationOptions label:hover {
    cursor: pointer;
    opacity: 0.8;
}

.notificationOptions label {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color_black_text);
}

.notificationOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-row {
    margin-bottom: 0.5rem;
}

.notification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.notification {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color_white);
    border: 1px solid var(--color_gray_text);
    box-shadow: 0 0 5px var(--color_gray_icon);
    border-radius: 2rem;
}

.notification-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.notification-status-container {
  flex-grow: 1;
  text-align: center;
}

.notification-content {
  flex-shrink: 1;
  width: 60%;
  padding-left: 10px;
}

.notification-content span {
  display: block;
  margin-bottom: 5px;
}

.status {
  color: #888;
}

.sent-at {
  color: #888;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.notification-content img {
  max-width: 100%;
  width: 200px;
  height: 150px;
  border-radius: 10%;
}
.user-info img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
