<div class="testimonials">
  <h2>Testimonials</h2>
  <div class="testimonials-title">
    <p>Don't just take our words</p>
  </div>
  <div class="owners">
    <div class="owner">
      <div class="owner-details">
        <div class="owner-info">
          <div class="owner-image">
            <img src="/assets/BG.jpg" alt="Owner 1">
          </div>
          <div class="owner-text">
            <div class="rating">★★★★★</div>
            <p class="comment">A short comment about the experience...</p>
            <p class="name">Jennie Louis</p>
          </div>
        </div>
      </div>
    </div>
    <div class="owner">
      <div class="owner-details">
        <div class="owner-info">
          <div class="owner-image">
            <img src="/assets/BG.jpg" alt="Owner 1">
          </div>
          <div class="owner-text">
            <div class="rating">★★★★★</div>
            <p class="comment">A short comment about the experience...</p>
            <p class="name">Jennie Louis</p>
          </div>
        </div>
      </div>
    </div>
    <div class="owner">
      <div class="owner-details">
        <div class="owner-info">
          <div class="owner-image">
            <img src="/assets/BG.jpg" alt="Owner 1">
          </div>
          <div class="owner-text">
            <div class="rating">★★★★★</div>
            <p class="comment">A short comment about the experience...</p>
            <p class="name">Jennie Louis</p>
          </div>
        </div>
      </div>
    </div>
    <div class="owner">
      <div class="owner-details">
        <div class="owner-info">
          <div class="owner-image">
            <img src="assets/BG.jpg" alt="Owner 1">
          </div>
          <div class="owner-text">
            <div class="rating">★★★★★</div>
            <p class="comment">A short comment about the experience...</p>
            <p class="name">Jennie Louis</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
