<div class="divider"></div>

<footer>  

  <div>

    <h4>About <span>Home Sweet Home</span></h4>

    <div class="about-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum aliquet accumsan porta lectus ridiculus in mattis. Netus sodales in volutpat ullamcorper amet adipiscing fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum aliquet accumsan porta lectus ridiculus in mattis.
    </div>

    <div class="social-icons">
      <img src="assets/x-icon.svg" alt="x corp.">
      <img src="assets/facebook-icon.svg" alt="facebook">
      <img src="assets/instagram-icon.svg" alt="instagram">
    </div>

  </div>

  <div class="links">

    <div>
      <h4>Company</h4>
      <div class="links-container">
        <a>About</a>
        <a>Features</a>
        <a>Career</a>
      </div>
    </div>

    <div>
      <h4>Help</h4>
      <div class="links-container">
        <a>FAQ</a>
        <a>Customer Support</a>
        <a>Terms & Conditions</a>
        <a>Privacy Policy</a>
      </div>
    </div>

  </div>

  <div class="copyright">
    <span>© 2023 Home Sweet Home. All rights reserved.</span>
  </div>

</footer>