.container{
  display: flex;
}
app-round-up-details{
  width:65%
}
app-location{
  width: 35%;
}

app-facilities{
  text-align: left;
  width: 60%;
}
.container2{
  display: flex;

}

app-reservation{
  width: 50%;

}

app-ratings{
  width: 50%;
}
