<app-image-slider [images]="images"></app-image-slider>
<div class="container">
<app-round-up-details [place]="places" [owner] = "owner1" ></app-round-up-details>
  <app-location [location] ="location"></app-location>
</div>
<app-facilities [facilities] = "amenitiesList"></app-facilities>
<div class="container2">
    <app-reservation [reservationRequirement]="reservationRequirements" [availabilities]="availableDates"></app-reservation>
  <app-ratings></app-ratings>
</div>

<app-comments></app-comments>
