@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color_primary_blue: #65AEF2;
  --color_background: #F4F4F4;
  --color_black_text: #1E1E1E;
  --color_gray_text: #4F4F4F;
  --color_white: #FFFFFF;
  --color_footer_background: #FAFAFB;
  --color_red: #DD4141;
  --color_green: #18A659;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color_background);
  font-family: 'Inter', sans-serif;
  margin: 0;
  height: 100%;
  overflow-y: auto;
}
