<div class="navbar-container">

    <div class="container-about-contact">
        <a>About Us</a>
        <a>Contact Us</a>
    </div>

    <img src="assets/logo_icon.svg" alt="logo" routerLink=""/>

    <div class="navbar-navigation">

        <ng-container *ngIf="userRole === ''">
            <button id="non-primary-btn" routerLink="/login">Login</button>
            <button routerLink="/register">Register</button>
        </ng-container>

        <ng-container *ngIf="userRole === 'guest'">
            <button mat-icon-button class="fav-btn" routerLink="/favorite">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="fav-btn" routerLink="/notifications" (click)="resetNotificationNumber()">
                <mat-icon>notifications</mat-icon>
                <ng-container *ngIf="numberOfNotifications()">
                    <div class="notificationNumber">
                        <span>{{ notificationsNumber }}</span>
                    </div>
                </ng-container>
            </button>
            <button routerLink="/profile">Profile</button>
        </ng-container>

        <ng-container *ngIf="userRole === 'host'">
            <button mat-icon-button class="fav-btn" routerLink="/notifications" (click)="resetNotificationNumber()">
                <mat-icon>notifications</mat-icon>
                <ng-container *ngIf="numberOfNotifications()">
                    <div class="notificationNumber">
                        <span>{{ notificationsNumber }}</span>
                    </div>
                </ng-container>
            </button>
            <button id="non-primary-btn2" routerLink="/create-accommodation">Post</button>
            <button routerLink="/profile">Profile</button>
        </ng-container>

        <ng-container *ngIf="userRole === 'admin'">
            <button routerLink="/profile">Profile</button>
        </ng-container>

    </div>
</div>
